body{
    background-color: lightgreen;
}
.header{
    color: darkred;
    font-family: 'Nunito', sans-serif;
}
p{  
    font-family: 'Roboto Slab', serif;
    padding: 5px;
}
hr{
    border: white 5px;
}
ul{
    background-image: linear-gradient(right,green, white, red );
}